@inject NavigationManager NavigationManager

<button @onclick="GoToHome"
        class="header-logo">
        <img src="Template/assets/images/logo/dark.png" alt="Header Logo" />
 
</button>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
